body {
    font-family: 'Calibri', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

h1, h2 {
    color: #445668;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.footer {
    background-color: #f8f9fa;
    color: #6c757d;
}
